<div id="banner" class="text-center">
  <div class="padded-small">
    <h1>Keep your mind clean</h1>
  </div>
  <%= link_to "Start your Todo List", works_path, class:"btn btn-primary padded-small" %>
</div>