<div id="banner" class="text-center">
  <div class="padded-small">
    <h1>Keep your mind clean</h1>
  </div>
  <div class="padded">
    <%= link_to "Start Your Todo List", works_path, class:"btn btn-primary" %>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      $(".icone").mouseover(function() {
          $(this).children(".messagebox").show();
      }).mouseout(function() {
          $(this).children(".messagebox").hide();
      });
    });
  <% end %>
<% end %>