/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 6em;
  padding-bottom: 6em;
}
.margin-space {
  margin: 2em;
}
.btn-warning {
  background-color: white;
  color: $green;
  border: white;
  &:hover {
    background-color: white;
    color: $green;
    border: white;
  }
}
.line {
  border-bottom: 1px solid $blue;
}
.padding-top {
  padding-top: 15px;
}
.fa-trash {
  color: $red;
}
.card {
  width: 90%;
  border-radius: 5px;
  margin: 110px 5%;
}
.btn {
  margin: 0px 10px;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}
.bg-white {
  background: white;
  color: $gray-darker;
  padding: 1em;
}

.bg-black {
  background: black;
  color: white;
  opacity: 0.7;
  height: 700px;
  margin-top: -100px;
}

.bg-gray {
  background: $grayish;
  color: black;
}
